<div style="width: 50%">
<form method="post" action="/operaciones/consulta">
      <h1>Busqueda por DNI</h1>
      <br>
      <p>Encontra a un estudiante en nuestra nominalización 2017-2019.</p>
      <div class="formcontainer">
      <hr/>
        <label for="dni"><strong>Documento Único de Identidad</strong></label>
        <br>
        <input type="number" placeholder="Ingrese el dni del alumno." name="codigo" required>
      <button type="submit">¡Buscame!</button>
      </div>
</form>
<br>
</div>
