<h2>Resultados</h2>         
<div id="Cuadrado">  
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-l93j">OFERTA </th><th class="tg-l93j">ALUMNOS </th>
  </tr>
{{#each doc}}
  <tr>  
    <td class="tg-kyy7">{{_id}} </td><td class="tg-kyy7">{{count}} </td>
  </tr>   
{{/each}}
</table></div>
</div>
<br>
<a href="/">Retornar</a>
<br><br>