<h2>Acciones Disponibles</h2>
<p>Aún no iniciaste sesión, como invitado tenés funciones limitadas.</p>
<div style="width: 50%">
<hr/>
<div style=" display: flex;align-items: center;justify-content: center;">
          <a href="/operaciones/consulta" class="box-index"> 
            <h4>Consulta de Alumno por DNI</h4><hr/>
            Busca las ocurrencias de un estudiante por DNI.
          </a> 
</div>          
</div>
       