<h2>Operaciones Disponibles</h2>
<div style="width: 50%">
<hr/>
<div class="container-index">
          <a href="/operaciones/listado" class="box-index">
           <h4>Listado de Estudiantes Aleatorio</h4><hr/>
           Encontra 10 estudiantes al azar en nuestra nominalización.
           </a>  
          <a href="/operaciones/consulta" class="box-index">
            <h4>Consulta de Alumno por DNI</h4><hr/>
            Busca las ocurrencias de un estudiante por DNI.
          </a> 
</div>
<div class="container-index">
          <a href="/operaciones/consultaMultiple" class="box-index">
            <h4>Consulta de Entrada Múltiple</h4><hr/>
            Elegí parametros de busqueda para encontrar hasta 10 alumnos.
          </a> 
          <a href="/operaciones/consultaContadores" class="box-index">
            <h4>Consulta por Contadores</h4><hr/>
            Averigua cuantos alumnos tuvimos.
          </a> 
</div>
</div>
       