<h2>¡Bienvenido <b>{{user}}</b>!</h2>
<div style="width: 80%" >
<div align="center">
          <h3>Ya podés realizar todas las consultas habilitadas para tu cuenta.</h3>
</div>
<hr/>
<div class="container-index">
          <a href="/" class="box-index" style="font-size: large">¡Realizá tus consultas!</a>
          <a href="/logout" class="box-index" style="font-size: large">Cerra tu Sesión</a>
</div> 
</div>